*.clang-format filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/day2/exec-climbing-stairs filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/day2/exec-forward-and-backward-print filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/day2/exec-print-reverse-string filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/day3/exec-problem1 filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/exec-factorial filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/exec-getting-rid-of-duplicates filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/exec-isPalindrome filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/exec-reverseString filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/exec-validparenthesis filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/homeworks/2 filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/homeworks/2.16LAB:Array-Lists/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/2.17LAB:Singly-Linked-Lists/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/2.18LAB:Doubly-Linked-Lists/2 filter=lfs diff=lfs merge=lfs -text
/homeworks/2.18LAB:Doubly-Linked-Lists/7 filter=lfs diff=lfs merge=lfs -text
/homeworks/2.18LAB:Doubly-Linked-Lists/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/3.10LAB:Binary-Search/exec-main filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/homeworks/3.11LAB:Matrix-Multiplication/exec-main filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.txtvckbhnmn<F9><F9><F8>iu'\ filter=lfs diff=lfs merge=lfs -text
/homeworks/hw0/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/hw0/hw0 filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.diff filter=lfs diff=lfs merge=lfs -text
*.stdcout filter=lfs diff=lfs merge=lfs -text
*.stderr filter=lfs diff=lfs merge=lfs -text
/homeworks/hw1-2/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/hw1-2/hw1 filter=lfs diff=lfs merge=lfs -text
/homeworks/hw1/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/hw1/hw1 filter=lfs diff=lfs merge=lfs -text
/homeworks/hw2/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/hw2/hw2 filter=lfs diff=lfs merge=lfs -text
/notes/exec-bigOnotes filter=lfs diff=lfs merge=lfs -text
/notes/exec-binarySearch filter=lfs diff=lfs merge=lfs -text
/notes/exec-day1 filter=lfs diff=lfs merge=lfs -text
/testKnowledge/designAllLists/exec-main filter=lfs diff=lfs merge=lfs -text
/SEPworkshop/exec-reverseQueue filter=lfs diff=lfs merge=lfs -text
/homeworks/hw2/2 filter=lfs diff=lfs merge=lfs -text
/homeworks/hw3/NQueens/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/hw3/hw3/exec-main filter=lfs diff=lfs merge=lfs -text
/homeworks/hw3/hw3/hw3 filter=lfs diff=lfs merge=lfs -text
/kattis/firstone/exec-attendance filter=lfs diff=lfs merge=lfs -text
/kattis/firstone/exec-bus filter=lfs diff=lfs merge=lfs -text
/kattis/firstone/exec-kemija filter=lfs diff=lfs merge=lfs -text
/kattis/firstone/exec-rockpaperscissors filter=lfs diff=lfs merge=lfs -text
/kattis/firstone/exec-symmetric filter=lfs diff=lfs merge=lfs -text
/homeworks/hw3/hw3/Doxyfile filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
/homeworks/hw3/hw3/latex/Makefile filter=lfs diff=lfs merge=lfs -text
*.sty filter=lfs diff=lfs merge=lfs -text
